In [2]:
import os
import csv
import numpy as np
from glob import glob
import pandas as pd
from tqdm import tqdm
import json
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
import argparse
import os
import random

import numpy as np
import torch
import torch.nn as nn
from sklearn.metrics import accuracy_score
from sklearn.utils import shuffle

/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

### datasets

In [2]:
seed = 3535999445

def _rocstories(path):
    with open(path, encoding='utf_8') as f:
        f = csv.reader(f)
        st = []
        y = []
        for i, line in enumerate(tqdm(list(f), ncols=80, leave=False)):
            if i > 0:
                s = ' '.join(line[1:5])
                st.append(s)
                y.append(line[4+int(line[-1])])
        return st, y

In [3]:
def rocstories(data_dir, n_train=1497, n_valid=374):
    storys, ys = _rocstories(os.path.join(data_dir, 'cloze_test_val__spring2016 - cloze_test_ALL_val.csv'))
    teX1,  _ = _rocstories(os.path.join(data_dir, 'cloze_test_test__spring2016 - cloze_test_ALL_test.csv'))
    tr_storys, va_storys, tr_ys, va_ys = train_test_split(storys, ys, test_size=n_valid, random_state=seed)
    trX1 = []
    trY = []
    for s, y in zip(tr_storys, tr_ys):
        trX1.append(s)
        trY.append(y)

    vaX1 = []
    vaY = []
    for s, y in zip(va_storys, va_ys):
        vaX1.append(s)
        vaY.append(y)
    trY = np.asarray(trY)
    vaY = np.asarray(vaY)
    return (trX1, trY), (vaX1, vaY), (teX1)

In [4]:
(trX1, trY), (vaX1, vaY), (teX1)=rocstories('./ROCStory/', n_train=1497, n_valid=374)

FileNotFoundError: [Errno 2] No such file or directory: './ROCStory/cloze_test_val__spring2016 - cloze_test_ALL_val.csv'

In [5]:
seed = 3535999445

def _rocstories(path):
    with open(path, encoding='utf_8') as f:
        f = csv.reader(f)
        st = []
        ct1 = []
        ct2 = []
        y = []
        for i, line in enumerate(tqdm(list(f), ncols=80, leave=False)):
            if i > 0:
                s = ' '.join(line[1:5])
                c1 = line[5]
                c2 = line[6]
                st.append(s)
                ct1.append(c1)
                ct2.append(c2)
                y.append(int(line[-1])-1)
        return st, ct1, ct2, y

In [6]:
def rocstories(data_dir, n_train=1497, n_valid=374):
    storys, comps1, comps2, ys = _rocstories(os.path.join(data_dir, 'cloze_test_val__spring2016 - cloze_test_ALL_val.csv'))
    teX1, teX2, teX3, _ = _rocstories(os.path.join(data_dir, 'cloze_test_test__spring2016 - cloze_test_ALL_test.csv'))
    tr_storys, va_storys, tr_comps1, va_comps1, tr_comps2, va_comps2, tr_ys, va_ys = train_test_split(storys, comps1, comps2, ys, test_size=n_valid, random_state=seed)
    trX1, trX2, trX3 = [], [], []
    trY = []
    for s, c1, c2, y in zip(tr_storys, tr_comps1, tr_comps2, tr_ys):
        trX1.append(s)
        trX2.append(c1)
        trX3.append(c2)
        trY.append(y)

    vaX1, vaX2, vaX3 = [], [], []
    vaY = []
    for s, c1, c2, y in zip(va_storys, va_comps1, va_comps2, va_ys):
        vaX1.append(s)
        vaX2.append(c1)
        vaX3.append(c2)
        vaY.append(y)
    trY = np.asarray(trY, dtype=np.int32)
    vaY = np.asarray(vaY, dtype=np.int32)
    return (trX1, trX2, trX3, trY), (vaX1, vaX2, vaX3, vaY), (teX1, teX2, teX3)

In [49]:
def children_book(data_dir):
    with open(data_dir) as f:
        data=f.readlines()

    data=[data[22*i:22*(i+1)] for i in range(int(len(data)/22))]

    X,Y=[],[]
    for d in range(len(data)):
        x=[]
        for i in data[d][:20]:
            x.append(' '.join(i.split(' ')[1:]).split('\n')[0])
        X.append(x)
        y=' '.join(data[d][20].split(' ')[1:])
        y=y.replace('XXXXX',y.split('\t')[1]).split('\t')[0]
        Y.append(y)
    return X,Y

In [50]:
teX1,teY1=children_book('./CBTest/data/cbtest_CN_test_2500ex.txt')

In [51]:
teX2,teY2=children_book('./CBTest/data/cbtest_NE_test_2500ex.txt')

In [52]:
teX=teX1+teX2
teY=teY1+teY2

In [53]:
df=pd.DataFrame()
df['InputStoryid']=0
df['InputSentence1']=teX
df['InputSentence2']=0
df['InputSentence3']=0
df['InputSentence4']=0
df['RandomFifthSentenceQuiz1']=teY
df['RandomFifthSentenceQuiz2']=0
df['AnswerRightEnding']=0

In [68]:
df['InputSentence1']=df['InputSentence1'].apply(lambda x: "".join(x))

In [69]:
len(df)

5000

In [75]:
df.to_csv('./CBTest/CBTest_5000.csv',index=False)

In [76]:
trX1,trY1=children_book('./CBTest/data/cbtest_CN_train.txt')
trX2,trY2=children_book('./CBTest/data/cbtest_NE_train.txt')

In [77]:
vaX1,vaY1=children_book('./CBTest/data/cbtest_CN_valid_2000ex.txt')
vaX2,vaY2=children_book('./CBTest/data/cbtest_NE_valid_2000ex.txt')

In [78]:
X=trX1+trX2+vaX1+vaX2
Y=trY1+trY2+vaY1+vaY2

In [79]:
df=pd.DataFrame()
df['InputStoryid']=0
df['InputSentence1']=X
df['InputSentence2']=0
df['InputSentence3']=0
df['InputSentence4']=0
df['RandomFifthSentenceQuiz1']=Y
df['RandomFifthSentenceQuiz2']=0
df['AnswerRightEnding']=0

In [80]:
df['InputSentence1']=df['InputSentence1'].apply(lambda x: "".join(x))

In [81]:
df.to_csv('./CBTest/CBTest_233488.csv',index=False)

In [361]:
df['InputSentence1']=df['InputSentence1'].apply(lambda x: x[0])

In [444]:
def race(data_dir):
    ide=[]
    article=[]
    questions=[]
    answers=[]
    files=glob(data_dir)
    for file in files:      
        with open(file) as f:
            data=f.read()

        data = json.loads(data)
        a=data["answers"]
        b=data['options']
        c=data['questions']
        d=data['article']
        e=data['id']
        diction={'A':0,'B':1,'C':2,'D':3,'E':4,'F':5}
        a=[diction[x] if x in diction else x for x in a]

        answer=[]
        for i in range(len(a)):
            answer.append(b[i][a[i]])
        ide.append(e)
        article.append(d)
        questions.append(c)
        answers.append(answer)
        
    return ide,article,questions,answers

In [445]:
teX1,teX2,teX3,teY1=race('./RACE/test/high/*.txt')
tex1,tex2,tex3,tey1=race('./RACE/test/middle/*.txt')

In [446]:
X1=teX1+tex1
X2=teX2+tex2
X3=teX3+tex3
Y1=teY1+tey1

In [447]:
df=pd.DataFrame()
df['InputStoryid']=X1
df['InputSentence1']=X2
df['InputSentence2']=X3
df['InputSentence3']=0
df['InputSentence4']=0
df['RandomFifthSentenceQuiz1']=Y1
df['RandomFifthSentenceQuiz2']=0
df['AnswerRightEnding']=0

In [452]:
df.to_csv('./RACE/RACE_1047.csv',index=False)

In [458]:
teX1,teX2,teX3,teY1=race('./RACE/dev/high/*.txt')
tex1,tex2,tex3,tey1=race('./RACE/dev/middle/*.txt')
teX10,teX20,teX30,teY10=race('./RACE/train/high/*.txt')
tex10,tex20,tex30,tey10=race('./RACE/train/middle/*.txt')

In [459]:
X1=teX1+tex1+teX10+tex10
X2=teX2+tex2+teX20+tex20
X3=teX3+tex3+teX30+tex30
Y1=teY1+tey1+teY10+tey10

In [460]:
df=pd.DataFrame()
df['InputStoryid']=X1
df['InputSentence1']=X2
df['InputSentence2']=X3
df['InputSentence3']=0
df['InputSentence4']=0
df['RandomFifthSentenceQuiz1']=Y1
df['RandomFifthSentenceQuiz2']=0
df['AnswerRightEnding']=0

In [461]:
len(df)

26526

In [462]:
df.to_csv('./RACE/RACE_26526.csv',index=False)

In [463]:
df.head()

,InputStoryid,InputSentence1,InputSentence2,InputSentence3,InputSentence4,RandomFifthSentenceQuiz1,RandomFifthSentenceQuiz2,AnswerRightEnding
0,high1735.txt,"It's cool, and it's hot, and everyone is doing...","[A blogger is a person _ ., According to th...",0,0,"[who writes diaries online, write down what th...",0,0
1,high12636.txt,A At a recent visit to the beautiful Keukenho...,"[By using metaphor , the author means that the...",0,0,[the first results we produce in a certain are...,0,0
2,high19763.txt,If you win the $1.5 billion Powerball jackpot ...,[What does Don McNay think of winning a lotter...,0,0,"[It doesn't necessarily bring fortune., Suppor...",0,0
3,high1090.txt,Summer in Europe is very nice for us to visit ...,[Which of the following statements is NOT ment...,0,0,"[Berlin has many parks and bridges., all the a...",0,0
4,high20135.txt,"As teachers, most of us have been taught that ...","[According to what Guskey said, the culture of...",0,0,"[students not take tests seriously at all, tes...",0,0

### train

In [5]:
seed = 3535999445

def _rocstories(path):
    with open(path, encoding='utf_8') as f:
        f = csv.reader(f)
        st = []
        ct1 = []
        ct2 = []
        y = []
        for i, line in enumerate(tqdm(list(f), ncols=80, leave=False)):
            if i > 0:
                s = ' '.join(line[1:5])
                c1 = line[5]
                c2 = line[6]
                st.append(s)
                ct1.append(c1)
                ct2.append(c2)
                y.append(int(line[-1])-1)
        return st, ct1, ct2, y

def rocstories(data_dir, n_train=1497, n_valid=374):
    storys, comps1, comps2, ys = _rocstories(os.path.join(data_dir, 'cloze_test_val__spring2016 - cloze_test_ALL_val.csv'))
    teX1, teX2, teX3, _ = _rocstories(os.path.join(data_dir, 'cloze_test_test__spring2016 - cloze_test_ALL_test.csv'))
    tr_storys, va_storys, tr_comps1, va_comps1, tr_comps2, va_comps2, tr_ys, va_ys = train_test_split(storys, comps1, comps2, ys, test_size=n_valid, random_state=seed)
    trX1, trX2, trX3 = [], [], []
    trY = []
    for s, c1, c2, y in zip(tr_storys, tr_comps1, tr_comps2, tr_ys):
        trX1.append(s)
        trX2.append(c1)
        trX3.append(c2)
        trY.append(y)

    vaX1, vaX2, vaX3 = [], [], []
    vaY = []
    for s, c1, c2, y in zip(va_storys, va_comps1, va_comps2, va_ys):
        vaX1.append(s)
        vaX2.append(c1)
        vaX3.append(c2)
        vaY.append(y)
    trY = np.asarray(trY, dtype=np.int32)
    vaY = np.asarray(vaY, dtype=np.int32)
    return (trX1, trX2, trX3, trY), (vaX1, vaX2, vaX3, vaY), (teX1, teX2, teX3)

In [7]:
(trX1, trX2, trX3, trY), (vaX1, vaX2, vaX3, vaY), (teX1, teX2, teX3)=rocstories('./generative_corpus/ROCStory/', n_train=1497, n_valid=374)

In [15]:
trY

array([0, 1, 1, ..., 1, 0, 1], dtype=int32)

In [16]:
class TextEncoder(object):
    """
    mostly a wrapper for a public python bpe tokenizer
    """

    def __init__(self, encoder_path, bpe_path):
        self.nlp = spacy.load('en', disable=['parser', 'tagger', 'ner', 'textcat'])
        self.encoder = json.load(open(encoder_path))
        self.decoder = {v:k for k,v in self.encoder.items()}
        merges = open(bpe_path, encoding='utf-8').read().split('\n')[1:-1]
        merges = [tuple(merge.split()) for merge in merges]
        self.bpe_ranks = dict(zip(merges, range(len(merges))))
        self.cache = {}

    def bpe(self, token):
        word = tuple(token[:-1]) + ( token[-1] + '</w>',)
        if token in self.cache:
            return self.cache[token]
        pairs = get_pairs(word)

        if not pairs:
            return token+'</w>'

        while True:
            bigram = min(pairs, key = lambda pair: self.bpe_ranks.get(pair, float('inf')))
            if bigram not in self.bpe_ranks:
                break
            first, second = bigram
            new_word = []
            i = 0
            while i < len(word):
                try:
                    j = word.index(first, i)
                    new_word.extend(word[i:j])
                    i = j
                except:
                    new_word.extend(word[i:])
                    break

                if word[i] == first and i < len(word)-1 and word[i+1] == second:
                    new_word.append(first+second)
                    i += 2
                else:
                    new_word.append(word[i])
                    i += 1
            new_word = tuple(new_word)
            word = new_word
            if len(word) == 1:
                break
            else:
                pairs = get_pairs(word)
        word = ' '.join(word)
        if word == '\n  </w>':
            word = '\n</w>'
        self.cache[token] = word
        return word

    def encode(self, texts, verbose=True):
        texts_tokens = []
        if verbose:
            for text in tqdm(texts, ncols=80, leave=False):
                text = self.nlp(text_standardize(ftfy.fix_text(text)))
                text_tokens = []
                for token in text:
                    text_tokens.extend([self.encoder.get(t, 0) for t in self.bpe(token.text.lower()).split(' ')])
                texts_tokens.append(text_tokens)
        else:
            for text in texts:
                text = self.nlp(text_standardize(ftfy.fix_text(text)))
                text_tokens = []
                for token in text:
                    text_tokens.extend([self.encoder.get(t, 0) for t in self.bpe(token.text.lower()).split(' ')])
                texts_tokens.append(text_tokens)
        return texts_tokens

In [8]:
def transform_roc(X1, X2, X3):
    n_batch = len(X1)
    xmb = np.zeros((n_batch, 2, n_ctx, 2), dtype=np.int32)
    mmb = np.zeros((n_batch, 2, n_ctx), dtype=np.float32)
    start = encoder['_start_']
    delimiter = encoder['_delimiter_']
    for i, (x1, x2, x3), in enumerate(zip(X1, X2, X3)):
        x12 = [start] + x1[:max_len] + [delimiter] + x2[:max_len] + [clf_token]
        x13 = [start] + x1[:max_len] + [delimiter] + x3[:max_len] + [clf_token]
        l12 = len(x12)
        l13 = len(x13)
        xmb[i, 0, :l12, 0] = x12
        xmb[i, 1, :l13, 0] = x13
        mmb[i, 0, :l12] = 1
        mmb[i, 1, :l13] = 1
    # Position information that is added to the input embeddings in the TransformerModel
    xmb[:, :, :, 1] = np.arange(n_vocab + n_special, n_vocab + n_special + n_ctx)
    return xmb, mmb

In [15]:
summary=pd.read_csv('/Users/xuhuimin/Desktop/summary.csv')

In [16]:
No=summary[summary['shuffle']=='[1 2 3 4]'][['shuffle','story1','story2','0','1','max','pred']]

In [19]:
No[No['max']<=0.6]

,shuffle,story1,story2,0,1,max,pred
151,[1 2 3 4],We had dinner in Brooklyn tonight. The include...,We had dinner in Brooklyn tonight. The include...,0.516358,0.483642,0.516358,0
343,[1 2 3 4],Late last night I awoke to a strange sound of ...,Late last night I awoke to a strange sound of ...,0.457357,0.542643,0.542643,1
474,[1 2 3 4],Neil went to a celebration with his Vietnamese...,Neil went to a celebration with his Vietnamese...,0.542947,0.457053,0.542947,0
754,[1 2 3 4],Jim was using a selfie stick. He was sticking ...,Jim was using a selfie stick. He was sticking ...,0.500000,0.500000,0.500000,0
831,[1 2 3 4],My sister in law lost her husband in 1984. The...,My sister in law lost her husband in 1984. The...,0.536753,0.463247,0.536753,0
2356,[1 2 3 4],It had been raining for days. The sky had stay...,It had been raining for days. The sky had stay...,0.500000,0.500000,0.500000,0
2516,[1 2 3 4],It was a busy Saturday night at the airport as...,It was a busy Saturday night at the airport as...,0.410673,0.589327,0.589327,1
2684,[1 2 3 4],Maurice is preparing to celebrate Thanksgiving...,Maurice is preparing to celebrate Thanksgiving...,0.500000,0.500000,0.500000,0
2741,[1 2 3 4],Bridget as always sleepy. Bridget tried going ...,Bridget as always sleepy. Bridget tried going ...,0.500000,0.500000,0.500000,0
3004,[1 2 3 4],Our building lost the Internet yesterday. I ca...,Our building lost the Internet yesterday. I ca...,0.500000,0.500000,0.500000,0
3719,[1 2 3 4],Kelsey left for work for work one morning and ...,Kelsey left for work for work one morning and ...,0.583924,0.416076,0.583924,0
3844,[1 2 3 4],Jessie woke up and saw that it had snowed over...,Jessie woke up and saw that it had snowed over...,0.578518,0.421482,0.578518,0
4046,[1 2 3 4],Jeff is the boss at his company and oversees t...,Jeff is the boss at his company and oversees t...,0.421565,0.578435,0.578435,1
4122,[1 2 3 4],Jack was tired of always getting bullied. He w...,Jack was tired of always getting bullied. He w...,0.567034,0.432966,0.567034,0
4738,[1 2 3 4],The boy liked to daydream about her. He did no...,The boy liked to daydream about her. He did no...,0.432080,0.567920,0.567920,1
4765,[1 2 3 4],Two best friends from Boston write a movie tog...,Two best friends from Boston write a movie tog...,0.411567,0.588433,0.588433,1
4852,[1 2 3 4],Greg was at work and was eating lunch in the b...,Greg was at work and was eating lunch in the b...,0.500000,0.500000,0.500000,0
4945,[1 2 3 4],Anne was learning to play the piano. She was s...,Anne was learning to play the piano. She was s...,0.500000,0.500000,0.500000,0
5036,[1 2 3 4],Suzy was paying her grandmother a visit. Grand...,Suzy was paying her grandmother a visit. Grand...,0.529267,0.470733,0.529267,0
5048,[1 2 3 4],Sam was arguing with Tim. They argued all day....,Sam was arguing with Tim. They argued all day....,0.458283,0.541717,0.541717,1
5096,[1 2 3 4],My Dad was driving my friend and I to school. ...,My Dad was driving my friend and I to school. ...,0.500000,0.500000,0.500000,0
5137,[1 2 3 4],"Deep in Louisiana swamps, there was a legend o...","Deep in Louisiana swamps, there was a legend o...",0.500000,0.500000,0.500000,0
5646,[1 2 3 4],Irene was in the school choir. They were perfo...,Irene was in the school choir. They were perfo...,0.409873,0.590127,0.590127,1
5880,[1 2 3 4],Jimmy and his father went fishing. They went t...,Jimmy and his father went fishing. They went t...,0.500000,0.500000,0.500000,0
6116,[1 2 3 4],My sister is going to have a baby. She went to...,My sister is going to have a baby. She went to...,0.562646,0.437354,0.562646,0
6464,[1 2 3 4],Val saw Ali go to the bathroom. Val and her fr...,Val saw Ali go to the bathroom. Val and her fr...,0.466363,0.533637,0.533637,1
6788,[1 2 3 4],Jim's cat would not stop meowing. His cat was ...,Jim's cat would not stop meowing. His cat was ...,0.509658,0.490342,0.509658,0
6790,[1 2 3 4],The hikers suddenly stopped in their tracks. O...,The hikers suddenly stopped in their tracks. O...,0.500000,0.500000,0.500000,0
6886,[1 2 3 4],May wanted to burn more calories during her ru...,May wanted to burn more calories during her ru...,0.500000,0.500000,0.500000,0
6915,[1 2 3 4],The nurse took Jared's vital signs first. Then...,The nurse took Jared's vital signs first. Then...,0.500000,0.500000,0.500000,0
...,...,...,...,...,...,...,...
38813,[1 2 3 4],Brandon was nervous for a job interview tomorr...,Brandon was nervous for a job interview tomorr...,0.567263,0.432737,0.567263,0
38866,[1 2 3 4],My goldfish barnacles was getting old. I took ...,My goldfish barnacles was getting old. I took ...,0.464761,0.535239,0.535239,1
38955,[1 2 3 4],Esther needed money to buy a down jacket. She ...,Esther needed money to buy a down jacket. She ...,0.523475,0.476525,0.523475,0
39201,[1 2 3 4],My friend was Jewish. He didn't celebrate Chri...,My friend was Jewish. He didn't celebrate Chri...,0.500000,0.500000,0.500000,0
39475,[1 2 3 4],My new car is amazing. It has all the bells an...,My new car is amazing. It has all the bells an...,0.496198,0.503802,0.503802,1
39482,[1 2 3 4],I had finally made it to 18 and would need to ...,I had finally made it to 18 and would need to ...,0.545503,0.454497,0.545503,0
39604,[1 2 3 4],Neil wanted to see an old city in India. He he...,Neil wanted to see an old city in India. He he...,0.406019,0.593981,0.593981,1
39703,[1 2 3 4],Jay wondered what her boyfriend had bought her...,Jay wondered what her boyfriend had bought her...,0.439408,0.560592,0.560592,1
40140,[1 2 3 4],John was playing piano. Everytime he hit a par...,John was playing piano. Everytime he hit a par...,0.532258,0.467742,0.532258,0
40203,[1 2 3 4],Erin drives the big green trash collection tru...,Erin drives the big green trash collection tru...,0.439659,0.560341,0.560341,1
40526,[1 2 3 4],Daniel was walking around a plaza. He noticed ...,Daniel was walking around a plaza. He noticed ...,0.407660,0.592340,0.592340,1
40683,[1 2 3 4],My friend Jim seemed happily married. He and h...,My friend Jim seemed happily married. He and h...,0.543399,0.456601,0.543399,0
40693,[1 2 3 4],Jill got a balloon for her birthday. It was bl...,Jill got a balloon for her birthday. It was bl...,0.500000,0.500000,0.500000,0
41002,[1 2 3 4],"One day, I was low on gas and needed to get to...","One day, I was low on gas and needed to get to...",0.500000,0.500000,0.500000,0
41092,[1 2 3 4],Richard saved his money from his job for years...,Richard saved his money from his job for years...,0.500000,0.500000,0.500000,0
41811,[1 2 3 4],Yesterday I visited my transit authority for p...,Yesterday I visited my transit authority for p...,0.417190,0.582810,0.582810,1
41826,[1 2 3 4],Nancy loved spending her Saturdays going to ga...,Nancy loved spending her Saturdays going to ga...,0.452344,0.547656,0.547656,1
42001,[1 2 3 4],Bobby was excited to go fishing with his grand...,Bobby was excited to go fishing with his grand...,0.442739,0.557261,0.557261,1
42619,[1 2 3 4],Gabby had a lizard and her name was Lulu. Lulu...,Gabby had a lizard and her name was Lulu. Lulu...,0.500000,0.500000,0.500000,0
42713,[1 2 3 4],Niam was asleep for a couple of minutes. The b...,Niam was asleep for a couple of minutes. The b...,0.500000,0.500000,0.500000,0
43089,[1 2 3 4],Clint's dad was a cowboy who rode horses. Thou...,Clint's dad was a cowboy who rode horses. Thou...,0.544617,0.455383,0.544617,0
44039,[1 2 3 4],A few years ago a deer ran into my friend's ca...,A few years ago a deer ran into my friend's ca...,0.414781,0.585219,0.585219,1
44226,[1 2 3 4],Lilly got married four times. She was never ha...,Lilly got married four times. She was never ha...,0.501121,0.498879,0.501121,0
44413,[1 2 3 4],Candice was a high school senior. She thought ...,Candice was a high school senior. She thought ...,0.443117,0.556883,0.556883,1
44568,[1 2 3 4],Mike was wandering throughout the museum. As a...,Mike was wandering throughout the museum. As a...,0.500000,0.500000,0.500000,0
44739,[1 2 3 4],There once was a girl named Allison. She loved...,There once was a girl named Allison. She loved...,0.500000,0.500000,0.500000,0
44859,[1 2 3 4],We have a draft every year to pick our players...,We have a draft every year to pick our players...,0.431098,0.568902,0.568902,1
45072,[1 2 3 4],Tina went to a fancy French restaurant with he...,Tina went to a fancy French restaurant with he...,0.413299,0.586701,0.586701,1
45147,[1 2 3 4],The test was so hard. Everyone started crying....,The test was so hard. Everyone started crying....,0.581872,0.418128,0.581872,0
45332,[1 2 3 4],Beverly and her cheer squad needed to raise mo...,Beverly and her cheer squad needed to raise mo...,0.500000,0.500000,0.500000,0

In [18]:
No[No['max']>0.6]

,shuffle,story1,story2,0,1,max,pred
41,[1 2 3 4],Susan was excited to plan her first egg hunt i...,Susan was excited to plan her first egg hunt i...,0.989628,0.010372,0.989628,0
228,[1 2 3 4],Josh wanted nothing more than world peace. He ...,Josh wanted nothing more than world peace. He ...,0.000278,0.999722,0.999722,1
243,[1 2 3 4],Fred had a basketball game tonight. He was rat...,Fred had a basketball game tonight. He was rat...,0.999998,0.000002,0.999998,0
253,[1 2 3 4],Maurice watched the clown bump his way through...,Maurice watched the clown bump his way through...,0.240530,0.759470,0.759470,1
255,[1 2 3 4],Lindsay was very interested in guitar lessons....,Lindsay was very interested in guitar lessons....,0.167398,0.832602,0.832602,1
260,[1 2 3 4],I was walking to my office complex. I noticed ...,I was walking to my office complex. I noticed ...,0.364761,0.635239,0.635239,1
285,[1 2 3 4],"My cousin decided to pick me up, and take me t...","My cousin decided to pick me up, and take me t...",0.004362,0.995638,0.995638,1
372,[1 2 3 4],Jennifer needed to travel for work. She bought...,Jennifer needed to travel for work. She bought...,0.029068,0.970932,0.970932,1
410,[1 2 3 4],Tim has never cooked for his family. He was ne...,Tim has never cooked for his family. He was ne...,0.624466,0.375534,0.624466,0
428,[1 2 3 4],Roger wanted to play tennis as well as Roger F...,Roger wanted to play tennis as well as Roger F...,0.688027,0.311973,0.688027,0
432,[1 2 3 4],Little Timmy wanted to grow up to be a race ca...,Little Timmy wanted to grow up to be a race ca...,0.999984,0.000016,0.999984,0
469,[1 2 3 4],My teacher announced an important test. I went...,My teacher announced an important test. I went...,0.378743,0.621257,0.621257,1
501,[1 2 3 4],I went into the voting booth on election day. ...,I went into the voting booth on election day. ...,0.986364,0.013636,0.986364,0
529,[1 2 3 4],Yuko is very hungry in her apartment. She deci...,Yuko is very hungry in her apartment. She deci...,0.399291,0.600709,0.600709,1
541,[1 2 3 4],I had ten thousand dollars. I decided to start...,I had ten thousand dollars. I decided to start...,0.659015,0.340985,0.659015,0
544,[1 2 3 4],Terri was always the best math student in her ...,Terri was always the best math student in her ...,0.018968,0.981032,0.981032,1
548,[1 2 3 4],A little girl wanted to eat cookies. It was la...,A little girl wanted to eat cookies. It was la...,0.745697,0.254303,0.745697,0
568,[1 2 3 4],Samantha wanted to buy a gift for her boyfrien...,Samantha wanted to buy a gift for her boyfrien...,0.000561,0.999439,0.999439,1
609,[1 2 3 4],Matthew was saving money to buy a new video ga...,Matthew was saving money to buy a new video ga...,0.002420,0.997580,0.997580,1
650,[1 2 3 4],Casey was dying her hair. She followed all of ...,Casey was dying her hair. She followed all of ...,0.223094,0.776906,0.776906,1
687,[1 2 3 4],Kelly's friend was a famous fashion designer. ...,Kelly's friend was a famous fashion designer. ...,0.737696,0.262304,0.737696,0
697,[1 2 3 4],Barry was a clown at a child's birthday party....,Barry was a clown at a child's birthday party....,0.119686,0.880314,0.880314,1
713,[1 2 3 4],Bob wanted to become a sculptor. He decided to...,Bob wanted to become a sculptor. He decided to...,0.117584,0.882416,0.882416,1
720,[1 2 3 4],Mike has an English final the next morning. Du...,Mike has an English final the next morning. Du...,0.845044,0.154956,0.845044,0
815,[1 2 3 4],Emily was afraid to learn to ride a bike. Her ...,Emily was afraid to learn to ride a bike. Her ...,0.999980,0.000020,0.999980,0
828,[1 2 3 4],There was a guy named Carl. He wanted a new ph...,There was a guy named Carl. He wanted a new ph...,0.999837,0.000163,0.999837,0
859,[1 2 3 4],Ron and his friends were hanging out late at n...,Ron and his friends were hanging out late at n...,0.020554,0.979446,0.979446,1
910,[1 2 3 4],Alexa Raye used to get mistaken for being a ma...,Alexa Raye used to get mistaken for being a ma...,0.000785,0.999215,0.999215,1
917,[1 2 3 4],"I wanted some money. Alas, I was too young to ...","I wanted some money. Alas, I was too young to ...",0.269009,0.730991,0.730991,1
935,[1 2 3 4],Greg was addicted to online games. It's all he...,Greg was addicted to online games. It's all he...,0.776979,0.223021,0.776979,0
...,...,...,...,...,...,...,...
44835,[1 2 3 4],Blake was ready to move from his home state. H...,Blake was ready to move from his home state. H...,0.277163,0.722837,0.722837,1
44868,[1 2 3 4],Candy got hired to work as a cook. The restaur...,Candy got hired to work as a cook. The restaur...,0.991315,0.008685,0.991315,0
44871,[1 2 3 4],Megan had a crush on a boy. She was very nervo...,Megan had a crush on a boy. She was very nervo...,0.966001,0.033999,0.966001,0
44884,[1 2 3 4],Gina's librarian handed her the books they ord...,Gina's librarian handed her the books they ord...,0.232450,0.767549,0.767549,1
44934,[1 2 3 4],Dee was stirring the bubbling fudge mixture. S...,Dee was stirring the bubbling fudge mixture. S...,0.166841,0.833159,0.833159,1
44949,[1 2 3 4],A man came to the hospital for open heart surg...,A man came to the hospital for open heart surg...,0.631146,0.368854,0.631146,0
44961,[1 2 3 4],Yesterday I was hungry. I decided to make pota...,Yesterday I was hungry. I decided to make pota...,0.773031,0.226969,0.773031,0
44966,[1 2 3 4],Vera's husband loved to watch TV and enjoyed a...,Vera's husband loved to watch TV and enjoyed a...,0.987166,0.012834,0.987166,0
45027,[1 2 3 4],Bo wanted to add bulk to his slight frame. He ...,Bo wanted to add bulk to his slight frame. He ...,0.793153,0.206847,0.793153,0
45044,[1 2 3 4],Last week was my girlfriend's birthday. I deci...,Last week was my girlfriend's birthday. I deci...,0.274244,0.725756,0.725756,1
45049,[1 2 3 4],It was the end of the soccer season and we dec...,It was the end of the soccer season and we dec...,0.962483,0.037517,0.962483,0
45104,[1 2 3 4],Byron's doctor said he needed to lose weight f...,Byron's doctor said he needed to lose weight f...,0.000315,0.999685,0.999685,1
45108,[1 2 3 4],Lucy rented The Predator from Blockbuster. Her...,Lucy rented The Predator from Blockbuster. Her...,0.669466,0.330534,0.669466,0
45122,[1 2 3 4],Paul decided to throw a costume party. Paul se...,Paul decided to throw a costume party. Paul se...,0.018310,0.981690,0.981690,1
45134,[1 2 3 4],Selena has always done well in school. She had...,Selena has always done well in school. She had...,0.875533,0.124467,0.875533,0
45152,[1 2 3 4],Tim was at a magic show. He loved it so much. ...,Tim was at a magic show. He loved it so much. ...,0.991797,0.008203,0.991797,0
45191,[1 2 3 4],Jake trained hard to make his little league ba...,Jake trained hard to make his little league ba...,0.016767,0.983233,0.983233,1
45209,[1 2 3 4],A man was doing laundry one fine day. He went ...,A man was doing laundry one fine day. He went ...,0.773967,0.226033,0.773967,0
45253,[1 2 3 4],John was drunk and walking home one night. He ...,John was drunk and walking home one night. He ...,0.009874,0.990126,0.990126,1
45257,[1 2 3 4],"I was hungry, but had no food. I drove to a di...","I was hungry, but had no food. I drove to a di...",0.989698,0.010302,0.989698,0
45260,[1 2 3 4],Sam decided to get healthier. He resolved to e...,Sam decided to get healthier. He resolved to e...,0.990435,0.009565,0.990435,0
45331,[1 2 3 4],Diana was on a family trip. Her children neede...,Diana was on a family trip. Her children neede...,0.996426,0.003574,0.996426,0
45345,[1 2 3 4],Tammy wanted to run for student council. She g...,Tammy wanted to run for student council. She g...,0.698536,0.301464,0.698536,0
45373,[1 2 3 4],A photographer was in the city. He wanted to f...,A photographer was in the city. He wanted to f...,0.998400,0.001600,0.998400,0
45383,[1 2 3 4],Gina was in the room in her house. The door kn...,Gina was in the room in her house. The door kn...,0.793065,0.206935,0.793065,0
45404,[1 2 3 4],Bob wanted to become a vegetarian. His doctor ...,Bob wanted to become a vegetarian. His doctor ...,0.128384,0.871616,0.871616,1
45408,[1 2 3 4],Oliver wanted to find a comfortable pair of sh...,Oliver wanted to find a comfortable pair of sh...,0.000011,0.999989,0.999989,1
45448,[1 2 3 4],"Rob needed new boots, but he couldn't afford t...","Rob needed new boots, but he couldn't afford t...",0.239637,0.760363,0.760363,1
45449,[1 2 3 4],Stephen had a cold. He tried every medicine th...,Stephen had a cold. He tried every medicine th...,0.864739,0.135261,0.864739,0
45471,[1 2 3 4],Neil was on a trip through Europe. He had just...,Neil was on a trip through Europe. He had just...,0.999952,0.000048,0.999952,0

### spacy

In [1]:
import spacy

/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192, got 176
  return f(*args, **kwds)

In [2]:
nlp=spacy.load('en')

/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/xuhuimin/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192, got 176
  return f(*args, **kwds)

In [72]:
document=["Cinderella was a lovely girl. ",
"Her old mother died. ",
"Her father married a wife, ", 
"and the stepmother has brought two elder sisters, ",
"She does a lot of housework everyday. ",
"So the girl's clothes were very dirty. ",
"Everybody called her Cinderella. ",
"The prince gave all the females an invitation, ", 
"asked them to come in the palace to join the dance party. ", 
"But Cinderellas stepmother didnt let her go. ",
"The day of the party arrived. Cinderella met a fairy godmother. ",
"She gave Cinderella a coach, two shoots, two horses and a beautiful dress. ",
"But magic will stop working at midnight. ",
"Cinderella arrived at the palace and walked into the dance hall. ", 
"The Prince saw her. He danced only with Cinderella, and he fell in love with her. ",
"A clock chiming reminded Cinderella of her fairy godmother's warning. ",
"She ran out of the palace. The Prince only found Cinderellas one glass shoot. ",
"The next morning, The Prince proclaimed: Whoever the shoot fits, shall be wife to him. ",
"He arrived at the stepmother's house. ",
"And Cinderellas sisters cant fit the shoot. But she can. ",
"Then Cinderella took the other shoot from her pocket and put it on. ",
"Finally, the Prince and Cinderella were married. They lived happily ever after. "]

In [73]:
document=''.join(document)

In [74]:
document=nlp(document)

In [75]:
type(document)

spacy.tokens.doc.Doc

In [76]:
len(document)

247

In [77]:
document[1].pos_

'VERB'

In [78]:
all_tags={w.pos:w.pos_ for w in document}

In [79]:
all_tags

{83: 'ADJ',
 84: 'ADP',
 85: 'ADV',
 88: 'CCONJ',
 89: 'DET',
 91: 'NOUN',
 92: 'NUM',
 93: 'PART',
 94: 'PRON',
 95: 'PROPN',
 96: 'PUNCT',
 99: 'VERB'}

In [80]:
for word in list(document.sents)[4]:
    print(word,word.tag_)

Everybody NN
called VBD
her PRP$
Cinderella NNP
. .

In [81]:
#define some parameters  
noisy_pos_tags = ["SPACE"]
min_token_length = 2
 
#Function to check if the token is a noise or not  
def isNoise(token):     
    is_noise = False
    if token.pos_ in noisy_pos_tags:
        is_noise = True 
    elif token.is_stop == True:
        is_noise = True
    elif len(token.string) <= min_token_length:
        is_noise = True
    return is_noise 
def cleanup(token, lower = True):
    if lower:
        token = token.lower() 
    return token.strip()
from collections import Counter
cleaned_list = [cleanup(word.string) for word in document if not isNoise(word)]

In [82]:
Counter(cleaned_list).most_common(2)

[('cinderella', 12), ('the', 6)]

In [83]:
labels = set([w.label_ for w in document.ents])

In [84]:
labels

{'CARDINAL', 'DATE', 'FAC', 'PERSON', 'TIME'}

In [85]:
for label in labels: 
    entities = [cleanup(e.string, lower=False) for e in document.ents if label==e.label_] 
    entities = list(set(entities)) 
    print (label,entities)

DATE ['The day']
TIME ['midnight', 'The next morning']
PERSON ['Cinderella']
FAC ['Cinderella']
CARDINAL ['two', 'one']

In [102]:
def pos_words (document, token, pos_tag):
    sentences = [sent for sent in document.sents if token in sent.string]     
    pwrds = []
    for sent in sentences:
        for word in sent:
            if token in word.string: 
                   pwrds.extend([child.string.strip() for child in word.children
                                                      if child.pos_ == pos_tag] )
    return Counter(pwrds).most_common(10)

pos_words(document, 'Cinderella', "VERB")

[]